#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  .app{
    display: flex;
    &.lg{
      flex-direction: row;
      .nav{
        border-right: 2px solid grey;
        Button{ width: 90%;}
      }
    }
    &.sm{
      flex-direction: column;
      .nav{
        display: flex;
        border-bottom: 2px solid grey;
        justify-content: space-around;
        flex-wrap: wrap;
        Button{ width: 200px;}
      }
    }
    .nav{
      flex: 1;
      Button{
        margin: auto 0;
        margin-bottom: 20px;
      }
    }
    .main{
      flex: 3;
      .give{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .userInfo{
          margin-bottom: 20px;
        }
        .checkList{
          margin-top: 20px;
          display: flex;
          justify-content: center;
        }
      }
      .consentPagination{
        padding-top: 10px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

